*{
  text-align: center;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18 px;
  margin: 20px auto;
  

}

header, nav, section, aside, footer{
  background: #ebebeb;
  /* width: 70%; */
  margin: auto;
  padding: 20px;
  margin-bottom: 15px;
}

article{
  color: #ebebeb;
  background: #777;
  padding-bottom: 10px;
}

h1, p, h3{
  color: #777;
  background: #ebebeb;
}

aside{
  color: #777;
  float: right;
  width: 37%;
  height: 250px;
}

footer{
  clear: both;
}

.Left{
  float: left;
  width: 33.3%;
}

.full {
  width: 100%;
  overflow: auto;
  clear: both;
  padding-bottom: 10px;
}

.Right{
  float: right;
  width: 33.3%;
}

section {
  width: 495px;
}

.sec-width{
  width: 60%;
}
